$body-color: #a32d2a;

body {
  color: $body-color;
  font-family: sans-serif;
}

#logo {
  height: 1em;
  margin: auto;
}

#left {
  width: 30%;
  margin-left: 1%;
  height: 98vh;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right {
  margin-left: calc(31% + 20px);
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  height: 98vh;
}

#banner {
  width: 100%;
  font-size: 40px;
  justify-content: flex-start;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 10%;
  gap: 10px;
}

#banner-text {
  font-weight: bold;
  margin: auto;
  width: 100%;
}

#description {
  width: 100%;
  margin-top: 20px;
  color: black;
}

#fin-label {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  margin-top: 5px;
  min-height: 30px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#output {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
}

#input {
  margin-right: 20px;
  margin-top: 2vh;
  width: 100%;
  height: 100%;
  resize: none;
}
